.contactmain{
	

    border:solid 1px white;
   color: rgb(3, 3, 3);
	width: 700px;
	height: 190px;
	background: rgb(212, 197, 197);
	overflow: hidden;
	border-radius: 10px;
    text-align: center;
    padding: 10px;
    padding-top: 50px;
    margin-left: 25%;
    margin-top: 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
}